shopbot flow.json
[{"id":"b461cda1.57753","type":"tab","label":"Shopping bot flow","disabled":false,"info":""},{"id":"981ffa4f.1d4a38","type":"watson-conversation-v1","z":"b461cda1.57753","name":"Shopbot","workspaceid":"69c4f2e7-db29-47a6-be9d-c2399754a66f","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/a8acb4fc-64fe-46dc-8307-9f17fc9df4da","timeout":"","optout-learning":false,"x":360,"y":180,"wires":[["545e5d0f.435544","40dcce33.34034"]]},{"id":"545e5d0f.435544","type":"debug","z":"b461cda1.57753","name":"OutString","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":180,"wires":[]},{"id":"8f202eca.461aa","type":"function","z":"b461cda1.57753","name":"f1","func":"msg.payload=msg.payload.userinput\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":90,"y":180,"wires":[["f1763346.403b3","981ffa4f.1d4a38"]]},{"id":"f1763346.403b3","type":"ui_text","z":"b461cda1.57753","group":"51de744.017768c","order":1,"width":0,"height":0,"name":"","label":"You entered:","format":"{{msg.payload}}","layout":"row-left","x":260,"y":320,"wires":[]},{"id":"5f118c27.54ce44","type":"ui_form","z":"b461cda1.57753","name":"Form","label":"Shopping bot UI","group":"51de744.017768c","order":7,"width":0,"height":0,"options":[{"label":"Type here:","value":"userinput","type":"text","required":true,"rows":null}],"formValue":{"userinput":""},"payload":"","submit":"Submit","cancel":"Clear","topic":"","x":70,"y":40,"wires":[["8f202eca.461aa"]]},{"id":"40dcce33.34034","type":"function","z":"b461cda1.57753","name":"f2","func":"\nvar i = 0\nvar len = msg.payload.output.generic.length\nvar tx = \"\"\nvar options = new Array(2)\nvar values = new Array(2)\n\nfor(i = 0; i<len; i++){\n    if(msg.payload.output.generic[i].response_type==\"image\"){\n        msg.url = msg.payload.output.generic[i].source\n    }\n    else\n    { msg.url=\"https://github.com/SmartPracticeschool/SPS-5899-chatbot-to-shop-for-essentials-during-pandemic-using-Watson-Assistant/blob/main/banner.jpg?raw=true\"\n    }\n\n    if (msg.payload.output.generic[i].response_type==\"option\") {\n        msg.title = msg.payload.output.generic[i].title\n        options[0] = msg.payload.output.generic[i].options[0].label\n        options[1] = msg.payload.output.generic[i].options[1].label\n        values[0] = msg.payload.output.generic[i].options[0].value.input.text\n        values[1] = msg.payload.output.generic[i].options[1].value.input.text\n        msg.options = options\n        msg.values = values\n    }\n    \n    if (msg.payload.output.generic[i].response_type==\"text\") {\n        tx = tx + msg.payload.output.generic[i].text\n    }\n}\nmsg.payload = tx\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":100,"wires":[["4e2eb241.4c2b3c","33300c19.4326e4","b13ff345.042e5","e8425811.0676e8","6fbe3a3d.5cfdb4"]]},{"id":"33300c19.4326e4","type":"ui_audio","z":"b461cda1.57753","name":"","group":"51de744.017768c","voice":"Google UK English Female","always":true,"x":800,"y":180,"wires":[]},{"id":"4e2eb241.4c2b3c","type":"ui_text","z":"b461cda1.57753","group":"51de744.017768c","order":2,"width":0,"height":0,"name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-left","x":820,"y":260,"wires":[]},{"id":"b13ff345.042e5","type":"ui_template","z":"b461cda1.57753","group":"51de744.017768c","name":"","order":4,"width":"13","height":"7","format":"<div>\n    <br>\n    <img ng-src={{msg.url}} alt=\"img\" width=\"80%\" height=\"80%\">\n</div> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":810,"y":120,"wires":[[]]},{"id":"e8425811.0676e8","type":"debug","z":"b461cda1.57753","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":40,"wires":[]},{"id":"6fbe3a3d.5cfdb4","type":"ui_template","z":"b461cda1.57753","group":"51de744.017768c","name":"","order":5,"width":"11","height":"3","format":"<div style=\"margin: 0 0 0 60px;\">\n    {{msg.title}}\n  <ul>\n    <li ng-repeat=\"opt in msg.options track by $index\" \n      style=\"list-style-type: none;\"\n      ng-click=\"send({payload:opt})\">\n        <label>\n            <input type=\"radio\"  name=\"data\" />{{opt}}\n        </label>\n    </li>\n  </ul>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":740,"y":360,"wires":[[]]},{"id":"51de744.017768c","type":"ui_group","z":"","name":"UI","tab":"b2b5f591.608cf8","order":1,"disp":true,"width":"14","collapse":false},{"id":"b2b5f591.608cf8","type":"ui_tab","z":"","name":"Shopbot","icon":"dashboard","disabled":false,"hidden":false}]